*{
margin: 0;
padding: 0;
font-family:Arial, Helvetica, sans-serif;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
background-color: rgb(37, 35, 35);
}

.to-do-list{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: rgb(58, 235, 58);
}
.add-button:hover{
  background-color: rgb(21, 81, 21);
}
.delete-btn{
  background-color: rgb(215, 48, 48);
}
.delete-btn:hover{
  background-color: rgb(244, 102, 102);
}
.move-btn{
  background-color: rgb(240, 147, 34);
}
.move-btn:hover{
  background-color: rgb(222, 185, 138);
}

.add-button{
  margin-left: 5px;
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(72, 72, 72, 0.399);
  color: hsla(0, 0%, 0%, 0.5);
  margin-bottom: 10px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(187, 176, 176);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.text{
flex: 1;
}

.move-btn , .delete-btn{
  padding: 8px 12px;
  font-size: 1.6rem;
  margin-left: 10px;
}







